@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  :root{
    --soft-red: 10deg 79% 65%;
    --cyan: 186deg 34% 60%;
    --dark-brown: 25deg 47% 15%;
    --medium-brown: 28deg 10% 53%;
    --cream: 27deg 66% 92%;
    --pale-orange: 33deg 100% 98%
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
    background-color: hsl(27, 66%, 92%);
  }
}